.chalice/deployments/
.chalice/deployed/
.chalice/venv/
*.pyc

.chalice/*.json
!.chalice/config.json
!.chalice/sample*.json

samples/

.vscode/
.venv/

.terraform
.terraform.lock.hcl
terraform.tfstate
